header.header
    .header__wrapper
        a.header__logotype_link(href="#")
            h1.header__logotype 3waytalk

        nav.header__auth
            | Are you interprener? 
            a.header__link(href="#") Register
            |  or 
            a.header__link(href="#") Log in

        nav.header__downloads

            span.header__text.header__text_desktop Download 3waytalk today and receive $5 credit! Available for a limited time

            span.header__text.header__text_tablet Download today and get $5 bonus!

            span.header__text.header__text_mobile Get it now!

            span.header__links.header__links_unknown-os
                a.header__download.header__download_apple(href="#") Apple App
                a.header__download.header__download_android(href="#") Android App

            span.header__links.header__links_appstore
                a.header__download.header__download_appstore(href="#") Apple App

            span.header__links.header__links_googleplay
                a.header__download.header__download_googleplay(href="#") Android App
