include ../header/header.jade
.landing
    .landing__section 
        include ../slide/slide-main.jade
    .landing__section
        include ../slide/slide-schema.jade
    .landing__section
        include ../slide/slide-interpreter.jade
    .landing__section
        include ../slide/slide-conference.jade
    .landing__section 
        include ../slide/slide-interface.jade
    .landing__section
        include ../slide/slide-time.jade
    .landing__section 
        include ../slide/slide-service.jade
        include ../footer/footer.jade
include ../social/social.jade
include ../login/login.jade
include ../login/login_email.jade
include ../login/login_password.jade
include ../login/login_recovery.jade
include ../login/login_success.jade
.lightbox
