@import "../../helpers/*.css";

@component landing{
    @descendent section{
        height: 100vh;
        position: relative;
        background-color: $grey;
        background-image: linear-gradient(to bottom, $grey, $premiddle-grey);
        }
    }

html body #fp-nav{
    display: none;
    }

html.desktop body #fp-nav{
    display: block;
    }

html body #fp-nav.right{
    right: 22px;
    }
html body #fp-nav ul li,
html body .fp-slidesNav ul li {
    width: 10px;
    height: 10px;
    margin: 20px 0;
    a {
        &.active span,
        &:hover span {
            background-color: $cyan;
            }
        &:hover,
        &.active:hover,
        &.active {
            span {
                width: 10px;
                height: 10px;
                margin: 0;
                }
            }
        span {
            width: 10px;
            height: 10px;
            margin: 0;
            border-radius: 100%;
            left: 0;
            top: 0;
            background-color: $middle-grey;
            }
        }
    }

@media (max-width: 1200px) {
    html body {
        #fp-nav.right{
            right: -200px;
            }
        }
    }
