extends ../elements/layout/layout.jade

block title
    title Landing | 3 Way Talk Landing

block content
    include ../elements/landing/landing.jade
    include ../elements/login/login_password.jade
    .lightbox
