.step.step_one
    p.step__number: span 1
    h2.step__title Choose your languages
    p.step__abstract Your language and the language you need

.step.step_two
    p.step__number: span 2
    h2.step__title See your rate
    p.step__abstract We show the best available rate

.step.step_three
    p.step__number: span 3
    h2.step__title Make the call
    p.step__abstract Connect to an interpreter
