@import "../../helpers/*.css";

@component steps {

    @descendent step {
        position: absolute;
        bottom: 312px;
        right: 455px;
        margin: 0;
        border-bottom: 1px solid $cyan;
        width: 230px;
        padding: 0 70px 10px 0;
        transform-origin: 100% 100%;

        opacity: 0;
        transition: opacity 0s .35s;

        &_two.steps__step {
            bottom: 465px;
            }
        &_one.steps__step {
            bottom: 690px;
            }
        }

    @descendent number {
        position: absolute;
        top: 100%;
        left: 100%;
        width: 28px;
        height: 28px;
        font-size: 0;
        line-height: 28px;
        text-align: center;
        border-radius: 100%;
        border: 1px solid $cyan;
        background-color: color($cyan a(50%));
        margin: -15px 0 0;
        span {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;

            width: 22px;
            height: 22px;

            border-radius: 100%;
            background-color: $cyan;
            color: $white;
            font-size: 14px;
            line-height: 22px;
            }
        }
    @descendent title {
        font-size: 22px;
        line-height: 26px;
        color: $dark-grey;
        }
    @descendent abstract {
        font-size: 16px;
        line-height: 26px;
        color: $footer-grey;
        }
    }

@media (max-width: 750px) and (min-height: $textMode) {
    html body {
        @component steps {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin-top: -48px;

            @mixin clear;

            @descendent title {
                font-size: 23px;
                line-height: 26px;
                white-space: nowrap;
                transform: translateZ(0);
                }

            @descendent abstract {
                font-size: 17px;
                line-height: 26px;
                white-space: nowrap;
                transform: translateZ(0);
                }

            @descendent step {
                position: static;
                width: auto;
                padding: 0 10px;
                margin: 0 40px 15px;
                border-style: none;

                float: left;
                clear: left;

                &_one.steps__step {
                    .steps__number {
                        left: 50%;
                        right: 0;
                        margin: 0 0 0 -88px;
                        top: -397px;
                        &:after {
                            opacity: inherit;
                            content: "";
                            width: 0;
                            height: 360px;
                            overflow: hidden;
                            top: 100%;
                            z-index: -1;
                            position: absolute;
                            top: 100%;
                            left: 13px;
                            border-left: 1px solid $cyan;
                            }
                        }
                    }
                &_two.steps__step {
                    background: $grey;
                    .steps__number {
                        left: auto;
                        right: 50%;
                        margin: 0 -125px 0 0;
                        top: -280px;
                        &:before {
                            opacity: inherit;
                            content: "";
                            width: 30px;
                            height: 370px;
                            overflow: hidden;
                            margin: -1px -28px 0 0;
                            top: 50%;
                            right: 100%;
                            z-index: -1;
                            position: absolute;
                            border: solid $cyan;
                            border-width: 0 0 1px 0;
                            }
                        &:after {
                            opacity: inherit;
                            content: "";
                            width: 55px;
                            height: 370px;
                            overflow: hidden;
                            margin: -2px 0 0;
                            top: 50%;
                            left: 100%;
                            z-index: -1;
                            position: absolute;
                            border: solid $cyan;
                            border-width: 1px 1px 1px 0;
                            border-radius: 0 30px 30px 0;
                            }
                        }
                    }
                &_three.steps__step {
                    background: $grey;
                    .steps__number {
                        left: auto;
                        right: 50%;
                        margin: 0 100px 0 0;
                        top: -190px;
                        &:after {
                            opacity: inherit;
                            content: "";
                            width: 55px;
                            height: 333px;
                            overflow: hidden;
                            margin: -2px 0 0;
                            top: 50%;
                            right: 100%;
                            z-index: -1;
                            position: absolute;
                            border: solid $cyan;
                            border-width: 1px 0 1px 1px;
                            border-radius: 30px 0 0 30px;
                            }
                        }
                    }
                }
            }
        }
    }
