.steps

    .steps__step.steps__step_one
        p.steps__number: span 1
        h2.steps__title Choose your languages
        p.steps__abstract Your language and the language you need

    .steps__step.steps__step_two
        p.steps__number: span 2
        h2.steps__title See your rate
        p.steps__abstract We show the best available rate

    .steps__step.steps__step_three
        p.steps__number: span 3
        h2.steps__title Make the call
        p.steps__abstract Connect to an interpreter
