@import "../../helpers/*.css";

@component social{
    @descendent link{
        position: fixed;
        bottom: 25px;
        right: 25px;

        height: 38px;
        width: 38px;
        border: 1px solid $cyan;
        border-radius: 100%;

        background: url("../images/fb.svg") 50% 50% no-repeat;
        }
    }
