section.contact
    .contact__wrapper

        address.contact__address
            p Netvoices Limited
            p 11 Hope Street
            p Douglas
            p Isle of Man
            p IM1 1AQ
            p British isles

        section.contact__details
            p Opening Hours: 09:00 - 17:00
            p Email: 
                a(href="mailto:mail@3waytalk.com") mail@3waytalk.com
            p Tel: 
                a(href="tel:+447463241852") +44 7463 241852

    iframe.contact__map(width="100%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=11%20Hope%20Street%2C%20%D0%94%D1%83%D0%B3%D0%BB%D0%B0%D1%81%2C%20%D0%BE-%D0%B2%20%D0%9C%D1%8D%D0%BD&key=AIzaSyCzvk5T9vmBXHhNJ19OBfIiEUKmo2UCvSE" allowfullscreen)
