@import "../../helpers/*.css";

@component contact {
    margin: 26px 0 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $text-grey;
    font-size: 0;
    text-align: center;
    @descendent wrapper {
        max-width: 960px;
        display: inline-block;
        text-align: left;
        padding: 0 20px;
        margin: 0 auto;
        @mixin clear;
        }
    @descendent address {
        float: left;
        margin: 0 20px;
        }
    @descendent details {
        float: left;
        margin: 0 20px;
        }

    @descendent map {
        margin: 26px 0 0;
        clear: both;
        width: 100%;
        height: calc(100vh - 90px - 60px - 56px - 26px);
        border-style: none;
        border-width: 0;
        }

    p {
        font-size: 18px;
        line-height: 28px;
        }

    a {
        color: $cyan;
        &:hover {
            text-decoration: none;
            }
        }
    }
