<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="msapplication-TileColor", content="#FFFFFF")
        meta(name="msapplication-TileImage", content="images/ico/mstile-144x144.png")

        link(rel="apple-touch-icon-precomposed", href="images/ico/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon-precomposed" sizes="152x152" href="images/ico/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon-precomposed" sizes="120x120" href="images/ico/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57x57.png")
        link(rel="icon", href="images/ico/favicon-32x32.png", sizes="32x32")
        link(rel="mask-icon", type="image/svg+xml", href="images/ico/color_favicon.svg", color="white")
        link(rel="icon", type="image/svg+xml", href="images/ico/color_favicon.svg", color="white")

        block title
            title 3 Way Talk Landing

        script(src="js/modernizr.js")

        link(rel="stylesheet", href="js/fullpage.js/jquery.fullPage.css")
        link(rel="stylesheet", href="js/select2/dist/css/select2.css")
        link(rel="stylesheet", href="css/styles.css")

    body
        include ../popup/popup.jade
        include ../header/header.jade
        block content

        include ../social/social.jade
        include ../login/login.jade
        include ../login/login_email.jade
        include ../login/login_recovery.jade
        include ../login/login_success.jade
        include ../login/login_register.jade
        include ../login/login_register-final.jade
        include ../loader/loader.jade
        include ../alert/alert_wrong.jade

        script(src="js/classList.js/classList.min.js")
        script(src="js/Element.closest/closest.legacy.js")
        script(src="js/promise-polyfill/Promise.min.js")
        script(src="js/es5-shim/es5-shim.min.js")
        script(src="js/es5-shim/es5-sham.min.js")
        script(src="js/requestAnimationFrame/app/requestAnimationFrame.js")

        script(src="js/velocity/velocity.min.js")
        script(src="js/jquery/dist/jquery.min.js")
        script(src="js/fullpage.js/jquery.fullPage.min.js")
        script(src="js/select2/dist/js/select2.min.js")

        script(src="js/scripts.js", async, defer)
