@import "../../helpers/colors.css";

html{
    position: relative;
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        font-family: "Helvetica Neue Cyr","Helvetica Neue", Helvetica, sans-serif;
        overflow-x: hidden;
        position: relative;
        background-color: $grey;
        .page{
            padding: 0 0 90px;
            min-height: 100%;
            box-sizing: border-box;
            position: relative;
            }
        }
    }


@media (max-width: 750px) {
    html body .page{
        padding: 0;
    }
}
