$black: #000;
$white:  #fff;

$dark-grey: #292929;
$grey: #e9e9e9;
$premiddle-grey: #d5d5d5;
$middle-grey: #d7d7d7;
$border-grey: #bdbdbe;
$warning-grey: #919191;
$text-grey: #6c6c6c;
$footer-grey: #696969;
$cyan: #00bfff;
$cyan-light: #68c0df;
$green: #67c609;
$blue: #849fa8;
