@import "../../helpers/colors.css";


@define-mixin clear {
  &:after{
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
    }
  }

@define-mixin clear_button {
  background: none;
  border-style: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  display: inline-block;
  font-family: "Helvetica Neue Cyr","Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  vertical-align: middle;
  border-radius: 0;
  &::-moz-focus-inner {
    padding: 0;
    border: 0
    }
  }

@define-mixin blue_button {
    @mixin clear_button;
    color: $white;
    background-color: $cyan;
    padding: 0 15px;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    transition: background-color .25s;
    &:hover {
        background-color: color($cyan l(-5%));
    }
}

@define-mixin blue_button_big {
    @mixin clear_button;
    color: $white;
    background-color: $cyan;
    width: 260px;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    white-space: nowrap;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: background-color .25s;
    &:hover {
        background-color: color($cyan l(-5%));
    }
    &:active {
        background-color: color($cyan l(-10%));
    }
}

@define-mixin grey_input {
    border-radius: 0;
    border: 1px solid $input-grey;
    background: $lighter-grey;
    padding: 0 20px;
    font-size: 18px;
    line-height: 48px;
    height: 50px;
    width: 260px;
    display: block;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Helvetica Neue Cyr","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;

    box-shadow: none;

    &[data-invalid]:focus,
    &[data-invalid]:hover,
    &[data-invalid]{
        border-color: $darkred;
        }

    &[data-valid]:focus,
    &[data-valid]:hover,
    &[data-valid]{
        border-color: $darkgreen;
        }

    &:hover {
        background-color: color($lighter-grey l(+5%));
    }

    &:focus {
        border-color: $cyan;
        color: $black;
        background-color: $white;
    }
}


@define-mixin dark_grey_input {
    border-radius: 0;
    border: 1px solid $darkest-grey;
    background: $darkest-grey;
    padding: 0 20px;
    font-size: 18px;
    line-height: 48px;
    height: 50px;
    width: 260px;
    display: block;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Helvetica Neue Cyr","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;

    box-shadow: none;

    &[data-invalid]:focus,
    &[data-invalid]:hover,
    &[data-invalid]{
        border-color: $darkred;
        }

    &[data-valid]:focus,
    &[data-valid]:hover,
    &[data-valid]{
        border-color: $darkgreen;
        }

    &:hover {
        background-color: color($darkest-grey l(+5%));
    }

    &:focus {
        border-color: $cyan;
        color: $black;
        background-color: $white;
    }
}
