.login.login_error
    menu.login__navigation
        button.login__back(type="button") Back

    .login__alert
        header.login__header
            h2.login__title Something go wrong
            p.login__text We know about problem and fixing it
