@import "../../helpers/*.css";

[aria-disabled="true"]{
    opacity: 0.5;
}

@component login {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -350px;
    width: 300px;
    background-color: $white;
    z-index: 102;

    transform: translateZ(0);
    perspective-origin: 50% 0;
    perspective: 800;
    visibility: hidden;

    [aria-disabled="true"],
    option[value][disabled] {
        display: none;
    }

    @modifier register {
        width: 540px;
        right: -540px;
        .line {

            }
        .login__next,
        .login__submit {
            width: 240px;
            }
        .login__form {
            select,
            input {
                width: 240px;
                }
            select.login__select_wide{
                width: 500px;
                }
            }
        }
    @modifier open.login {
        right: 0;
        }
    @descendent warning {
        font-size: 16px;
        line-height: 24px;
        color: $text-grey;
        margin: 20px 0 0;
        display: inline-block;
        }
    @descendent require {
        display: inline-block;
        vertical-align: middle;
        width: 240px;
        font-size: 16px;
        line-height: 24px;
        color: $text-grey;
        margin: 0 0 0 20px;
        }
    @descendent line {
        max-width: 100%;
        box-sizing: border-box;
        clear: both;
        font-size: 0;
        margin: 0 0 20px 0;
        &_half {
            width: 240px;
            clear: none;
            float: left;
            margin: 0;
            &:first-child {
                margin: 0 20px 0 0;
                }
            }
        @mixin clear;
        }
    @descendent back {
        @mixin clear_button;
        font-size: 16px;
        line-height: 40px;
        color: $cyan;
        padding: 0 0 0 24px;
        background: url(../images/back.svg) 0 50% no-repeat;
        cursor: pointer;
        float: left;
        }
    @descendent subtitle {
        color: $text-grey;
        font-size: 22px;
        line-height: 28px;
        }
    @descendent text {
        color: $text-grey;
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0 50px;
        }
    @descendent password-recovery {
        margin: 10px 0 0;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        color: $darker-cyan;
        text-decoration: none;
        &:hover {
            color: color($cyan l(+20%));
            }
        }
    @descendent header {
        margin: 0 0 40px;
        }
    @descendent title {
        font-size: 40px;
        line-height: 48px;
        color: $text-grey;
        }
    @descendent alert {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        right: 20px;
        }
    @descendent form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        right: 20px;

        max-height: calc(100vh - 100px);
        overflow:auto;
        overflow-x: hidden;
        overflow-y: auto;

        select,
        input {
            @mixin grey_input;
            }
        select.login__select_wide{
            width: 500px;
            margin: 0;
            }
        }
    @descendent navigation {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        line-height: 40px;
        font-size: 16px;
        white-space: nowrap;
        color: $text-grey;
        text-align: right;
        }
    @descendent login-button {
        @mixin blue_button;
        margin: 0 0 0 10px;
        }
    @descendent register-button {
        @mixin blue_button;
        margin: 0 0 0 10px;
        }
    @descendent register {
        @mixin blue_button;
        margin: 0 0 0 10px;
        }
    @descendent next {
        @mixin blue_button_big;
        display: inline-block;
        vertical-align: middle;
        width: 240px;
        }
    @descendent submit {
        @mixin blue_button_big;
        display: inline-block;
        vertical-align: middle;
        }
    }


@media (max-height: 560px) {
    @component login {
            display: none;
        }
    }
