.login.login_email
    menu.login__navigation
        button.login__back(type="button") Back

    .login__alert
        header.login__header
            h2.login__title Please check your email
            p.login__text We have sent you reset instructions
