.login.login_password.login_open
    menu.login__navigation 
        button.login__login-button(type="button") Interpreter log in

    form.login__form(action="/password/", method="post", enctype="multipart/form-data")
        header.login__header
            h2.login__title Enter your new password
        fieldset
            .login__line 
                input#password(type="password", name="password", value="", required="required", placeholder="Password", autocomplete="off")
            .login__line 
                input(type="password", name="password_confirmation", value="", required="required", placeholder="Repeat password", data-equal="#password", autocomplete="off")
            .login__line
                button.login__submit(type="submit") Confirm
