.login.login_success
    menu.login__navigation
        button.login__back(type="button") Back

    .login__alert
        header.login__header
            h2.login__title Success!
            p.login__text Your password has been reset. You can now login with your new password
        button.login__submit(type="button") Log in
