menu.menu
    button.menu__login(type="button") Interpreter login
    .menu__details
        .menu__title are you an
            strong Interpreter?
        button.menu__register(type="button") Register
            .menu__container
                .menu__circle.menu__circle_0
                .menu__circle.menu__circle_1
                .menu__circle.menu__circle_2
                .menu__circle.menu__circle_3
