@import "../../helpers/*.css";

@component clock {
    width: 522px;
    height: 702px;
    position: absolute;
    right: 100%;
    top: 50%;
    margin: -318px 90px 0 0;
    background: url("../images/clock.png") 50% 50% no-repeat;
}
