@import "../../helpers/*.css";

@component clock {
    width: 522px;
    height: 702px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin: -331px auto auto;
    background: url("../images/clock.jpg") 50% 50% no-repeat;
    background-size: contain;
    transform-origin: 0 0;

    opacity: 0;
    transition: opacity 0s .35s;

    @modifier visible {
        opacity: 1;
        transition: opacity .5s .35s;
        .clock {
            &__glow {
                transition: transform .75s .95s linear;
                transform: rotate(120deg);
                }
            &__arrow {
                &_long {
                    transition: transform .75s .95s linear;
                    transform: rotate(120deg);
                    }
                }
            }
        }

    @descendent glow {
        width: 225px;
        height: 450px;
        position: absolute;
        left: -225.4px;
        top: 0;

        transform-origin: 100% 225px;
        transform: rotate(120deg);
        transform: rotate(.5deg);
        transition: transform 0s .25s linear;

        background-color: transparent;
        background-image: radial-gradient(at center, color($cyan a(80%)) 0, color($cyan a(0%)) 65%);
        background-size: 440px 440px;
        background-position: 0 50%;
        background-repeat: no-repeat;
        }

    @descendent mask {
        width: 225px;
        height: 450px;

        position: absolute;
        left: 50%;
        bottom: 96px;
        overflow: hidden;
        }

    @descendent arrow {
        &_short {
            width: 1px;
            height: 1px;

            background: red;

            font-size: 0;
            line-height: 0;

            position: absolute;
            top: 250px;
            left: 0;
            right: 0;

            margin: auto;

            transform: rotate(0deg);
            transition: transform 0s .25s linear;
            z-index: 2;

            &:after{
                position: absolute;
                content: "";
                top: -54px;
                left: -5.5px;
                background: url("../images/arrow-small.svg") 50% 0 no-repeat;
                background-size: contain;
                width: 11px;
                height: 70px;
            }
        }
        &_long {
            width: 0px;
            height: 0px;

            background: red;

            font-size: 0;
            line-height: 0;

            position: absolute;
            top: 380px;
            left: 0;
            right: 0;

            margin: auto;

            transform: rotate(0deg);
            transition: transform 0s .25s linear;
            z-index: 2;

            &:after{
                position: absolute;
                content: "";
                top: -190px;
                left: -15px;
                background: url("../images/arrow-big.svg") 50% 0 no-repeat;
                background-size: contain;
                width: 30px;
                height: 250px;
            }
        }
    }
}

@media (max-width: 750px) {
    @component clock {
        left: 0;
    }
}

@keyframes secondsarrow {
    to {
        transform: rotate(360deg);
    }
}
