article.content

    h1 Please read before starting the test

    h2 Terms and Conditions – Buyers

    p This page together with the documents referred to on it (the “Agreement”) governs the relationship between you and Netvoices Limited (Company number 10037V) with registered office address at 11 Hope Street, Douglas, IM1 1AQ, trading as 3waytalk, (“us” or “3waytalk”) and sets out the terms of use of the App.

    p You should read these terms and conditions carefully before using the App. If you do not agree to these terms and 
        a(href="#") conditions please do not use the App
        | . By using the App you indicate that you accept these terms and conditions and that you agree to abide by them. This Agreement forms a legally binding contract between you and 3waytalk.

    h3 Definitions:

    p In these terms and conditions the following words have the following meanings:
    p
        strong App 
        | the 3waytalk app which provides a marketplace for Interpreters and Buyers and transaction payment facilities


    h2 AGREED TERMS

    ol
        li In consideration of 3waytalk allowing you to access interpreting services for a variety of different languages through the App 3waytalk, you agree to comply with this Agreement. 

    h2 Your Responsibilities

    ol(start="2")
        li Before you can purchase Interpretation Services from you must download the App. You can then select the to and from languages that you require and we will endeavour to connect you to an interpreter with the relevant language. You acknowledge that 3waytalk is providing a customised service to you at your request and there is no right to cancel.

        li We require Interpreters using 3waytalk to pass language tests from time to time, however we are not responsible or liable for any acts or omissions of any interpreters providing interpretation Services. You hereby accept the following terms with the interpreter who will be providing the service to you.

        li The Interpreter agrees to provide the Interpretation Services with reasonable care and skill;

        li The Buyer will pay for the total time for which Interpretation Services have been supplied provided that the Interpreter shall not charge the Buyer for the first fifteen seconds of any call in order to establish that a proper connection has been made and that the language pairing is correct;

        li The Interpreter’s liability is limited in all circumstances to the sums paid for the Interpretation Services to which the liability relates;
