@import "../../helpers/*.css";

@component wave{
    position: absolute;
    bottom: 50%;
    left: 100%;
    margin: 0 0 0 100px;
    width: 137px;
    height: 285px;
    background: url("../images/wave.png") 0px 0px no-repeat;
    }
