.footer
    nav.footer__navigation
        span.footer__copyright © 2015 3waytalk
        a.footer__link(href="#") Complaints procedure
        a.footer__link(href="#") Buyer terms and conditions
        a.footer__link(href="#") Contact us
        a.footer__link(href="#") About
    a.footer__top(href="#") back to top
