.footer
    nav.footer__navigation
        span.footer__copyright © 2015 3waytalk
        a.footer__link(href="text.html") Complaints procedure
        a.footer__link(href="text.html") Buyer terms and conditions
        a.footer__link(href="contacts.html") Contact us
        a.footer__link(href="text.html") About
    a.footer__top(href="#") back to top
