form.password(action="/change/", method="post", data-reload=true)
    h2.password__title Enter your new password
    fieldset.password__fieldset
        input.password__input#password(required="required", type="password", name="password", value="", placeholde="Password")
    fieldset.password__fieldset
        input.password__input(required="required", type="password", name="password-confirmation", value="", placeholde="Repeat password", data-equal="#password")
    .password__menu
        button.password__submit(type="submit") Confirm
