@import "../../helpers/*.css";

@component password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 0;

    @descendent title {
        font-size: 40px;
        line-height: 50px;
        color: $text-grey;
        margin: 0 0 30px;
        }

    @descendent fieldset {
        display: inline-block;
        vertical-align: top;
        margin:0 10px 20px;
        }

    @descendent input {
        @mixin dark_grey_input;
        height: 50px;
        line-height: 50px;
        width: 260px;
        }

    @descendent submit {
        @mixin blue_button_big;
        display: inline-block;
        }

    }
