.popup.popup_alert.popup_browser
    button.popup__close(type="button")
    .popup__text The supported browsers for interpreters to log in aare 
        a(href="http://www.google.com/chrome/", target="_blank") Google Chrome
        |  and 
        a(href="http://www.mozilla.org/firefox/new/", target="_blank") Mozilla Firefox
        | . Please visit us again using one of thouse
