@import "../../helpers/*.css";

@component popup {
    background-color: $cyan;
    position: relative;
    padding: 20px 60px 20px 20px;
    text-align: left;
    margin-top: 0;
    z-index: 1000;

    display: none;
    transform-origin: 50% 0;
    transform: rotateX(0);
    transform-style: preserve-3d;

    a {
        color: $white;
        &:hover {
            text-decoration: none;
            }
        }


    @modifier common.popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 300;
        background-color: $darkred;
        transform: rotateX(120deg);
        }

    @modifier alert.popup {
        background-color: $darkred;
        }

    @modifier mobile.popup {
        display: none;
        transform: none;
        bottom: 100%;
        top: auto;
        left: 0;
        right: 0;
        position: absolute;
        }

    @descendent text {
        color: $white;
        line-height: 24px;
        font-size: 16px;
        }

    @descendent close {
        @mixin clear_button;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 20px;
        height: 20px;
        margin: -10px 0 0;
        background: url( ../images/close.svg ) 50% 50% no-repeat;
        cursor: pointer;
        }

    }

@media (max-width: 1200px) {
    @component popup {
        @modifier mobile.popup {
            display: block;
            }
        }
    }

@media (max-height: 560px) {
    @component popup {
        @modifier mobile.popup {
            display: block;
            }
        }
    }

html.on-peerconnection body {
    @component popup {
        @modifier browser.popup.popup {
            display: none;
        }
    }
}
