.shema
    .shema__person
        img.shema__person-avatar(src="images/avatar-3.jpg", alt="Face")
        .shema__person-details
            p.shema__person-name Jim Woods
            p.shema__person-role A sports clothing shop owner in Manhattan
    .shema__message.shema__message_first Hello!
    .shema__person
        img.shema__person-avatar(src="images/avatar-2.jpg", alt="Face")
        .shema__person-details
            p.shema__person-name Christina Adams
            p.shema__person-role English-Chinese interpreter
    .shema__message.shema__message_second 您好!
    .shema__person
        img.shema__person-avatar(src="images/avatar-1.jpg", alt="Face")
        .shema__person-details
            p.shema__person-name Cheng Sun 
            p.shema__person-role Sales manager at a textile manufacturer in Zhejiang
    .shema__connection
