@import "../../helpers/*.css";

.landing__section.active {
    .shema {
        &__person {
            opacity: 1;
            transform: scale(1);
            &:nth-child(1) {
                transition: opacity .25s .75s, transform .5s .75s;
                }
            &:nth-child(3) {
                transition: opacity .25s 1.25s, transform .5s 1.25s;
                }
            &:nth-child(5) {
                transition: opacity .25s .75s, transform .5s .75s;
                }
            }
        &__message {
            opacity: 1;
            transform: scale(1);
            &_first {
                transition: opacity .15s 2s, transform .25s 2s;
                }
            &_second {
                transition: opacity .15s 2.25s, transform .25s 2.25s;
                }
            }
        &__connection {
            right: 12%;
            transition: right .75s 1.75s linear;
            }
        }
    }

@media (max-width: 750px) {
    .landing__section.active {
        .shema {
            &__connection {
                right: auto;
                bottom: 50px;
                opacity: 1;
                transition: bottom 1.25s 1.75s linear, opacity 0s 1.75s;
                }
            }
        }
    }


@component shema{
    white-space: nowrap;
    position: relative;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
    flex-grow: 0;
    @descendent connection {
        position: absolute;
        top: 100px;
        left: 12%;
        right: 12%;

        right: 88%;
        transition: right 0s .35s;

        height: 1px;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        background: $border-grey;
        z-index: -1;
        }
    @descendent person-avatar {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin: 0 auto 20px;
        }
    @descendent person-name {
        font-size: 22px;
        line-height: 26px;
        font-weight: 200;
        }
    @descendent person-role {
        font-size: 16px;
        line-height: 26px;
        font-weight: 200;
        color: $footer-grey;
        }
    @descendent message {
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        height: 45px;
        line-height: 45px;
        background: $white;
        position: absolute;
        top: 77px;

        transition: opacity 0s .35s, transform 0s .35s;
        opacity: 0;
        transform: scale(.5);

        &_first {
            right: 66.5%;
            margin-right: -60px;
            }
        &_second {
            left: 66.5%;
            margin-left: -60px;
            }
        text-align: center;
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 0;
            border-color: $white transparent transparent transparent;
            position: absolute;
            left: 10px;
            top: 100%;
            overflow: hidden;
            font-size: 0;
            }
        }
    @descendent person {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 33%;
        white-space: normal;

        transition: opacity 0s .35s, transform 0s .35s;
        opacity: 0;
        transform: scale(.5);

        transform-origin: 50% 100px;
        }
    }


@media (max-width: 1200px) and (min-width: 961px) {
    @component shema {
        @descendent message {
            width: 80px;
            &_first {
                margin-right: -40px;
                }
            &_second {
                margin-left: -40px;
                }
        }
    }
}

@media (max-width: 960px) and (min-width: 751px) {
    @component shema {
        width: auto;
        @descendent connection {
            top: 50px;
            }
        @descendent message{
            top: 28px;
            width: 80px;
            z-index: 1;
            &_first {
                margin-right: -40px;
                }
            &_second {
                margin-left: -40px;
                }
            }
        @descendent person-name{
            font-size: 18px;
            line-height: 24px;
            font-weight: 200;
            }
        @descendent person-role{
            font-size: 14px;
            line-height: 20px;
            font-weight: 200;
            }
        @descendent person-avatar {
            width: 100px;
            height: 100px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
        }
        @descendent person {
            width: 250px;
            position: relative;
            transform-origin: 50% 50px;
        }
    }
}

@media (max-width: 750px) {

    html.ios body .landing {
        .shema .shema__connection {
            margin: 0 auto -20px;
            }
        }

    @component shema {
        width: 320px;
        white-space: normal;
        position: relative;
        margin: 0 auto;
        top: auto;
        left: auto;
        right: auto;
        flex-grow: 3;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @descendent connection {
            width: 1px;
            height: auto;
            left: 120px;
            top: 50px;
            right: auto;

            bottom: 50px;
            opacity: 0;

            bottom: calc(100% - 50px);
            transition: bottom 0s .25s, opacity 0s .25s;

            }
        @descendent message{
            left: 0;
            width: 80px;
            z-index: 1;
            &:after {
                left: auto;
                right: 10px;
                bottom: 100%;
                top: auto;
                border-width: 0 0 15px 15px;
                border-color: transparent transparent $white;
                }
            &_first {
                margin: 0;
                top: 100px;
                }
            &_second {
                margin: 50px 0 0;
                top: 50%;
                }
        }
        @descendent person-name{
            font-size: 18px;
            line-height: 24px;
            font-weight: 200;
            }
        @descendent person-role{
            font-size: 14px;
            line-height: 20px;
            font-weight: 200;
            }
        @descendent person-avatar {
            width: 100px;
            height: 100px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
        }
        @descendent person {
            width: 250px;
            display: block;
            position: relative;
            text-align: left;
            margin: 0 0 0 70px;
            white-space: nowrap;

            transform-origin: 50px 50px;
        }
        @descendent person-details {
            display: inline-block;
            vertical-align: middle;
            width: 140px;
            white-space: normal;
        }
    }
}



@media (max-height: 600px) and (min-width: 750px) {
    @component shema{
        width: auto;
        @descendent connection {
            top: 50px;
            }
        @descendent message{
            top: 28px;
            width: 80px;
            z-index: 1;
            &_first {
                margin-right: -40px;
                }
            &_second {
                margin-left: -40px;
                }
            }
        @descendent person-name{
            font-size: 18px;
            line-height: 24px;
            font-weight: 200;
            }
        @descendent person-role{
            font-size: 14px;
            line-height: 20px;
            font-weight: 200;
            }
        @descendent person-avatar {
            width: 100px;
            height: 100px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
        }
        @descendent person {
            width: 250px;
            position: relative;
        }
    }
}

@media (max-height: 400px) {
    @component shema{
        display: none;
    }
}
