.slide.slide_service
    .slide__details
        h2.slide__title Quality service
        p.slide__text our interpreters are put through a rigorous evaluation process and we performregular quality controls to guarantee the best service
        nav.slide__downloads
            a.slide__download.slide__download_appstore(href="#") Download on the App Store
            span.slide__warning.slide__warning_not-android Want it for Android? Visit this website from your Android device
            a.slide__download.slide__download_googleplay(href="#") Get it on Google play
            span.slide__warning.slide__warning_not-ios Want it for iOS? Visit this website from your Apple device
