.slide.slide_main
    .slide__details
        header.slide__header
            a(href="#")
                h1.slide__logotype 3waytalks
            h2.slide__title We connect you to a professional interpreter in seconds
            p.slide__text No contracts to sign. Live interpreters on demand.
            nav.slide__downloads
                a.slide__download.slide__download_appstore(href="#") Download on the App Store
                span.slide__warning.slide__warning_not-android Want it for Android? Visit this website from your Android device
                a.slide__download.slide__download_googleplay(href="#") Get it on Google play
                span.slide__warning.slide__warning_not-ios Want it for iOS? Visit this website from your Apple device        
        img.slide__phones(src="images/phones.png", alt="phones")
        .slide__phone
    p.slide__scroll Scroll to learn more
    include ../menu/menu.jade
