.slide.slide_schema
    .slide__details
        header.slide__header
            h2.slide__title Call anywhere in the world with your interpreter on the line?

        include ../shema/shema.jade

        footer.slide__footer
            p Calls are connected using 3G/LTE/WiFi networks with long distance rates similar to or lower than major internet phone service providers
