.slide.slide_time.slide_right
    .slide__details
        header.slide__header
            h2.slide__title 20 seconds to decide
            p.slide__text We give you 20 seconds once you’ve connected to an interpreter to decide if you are satisfied with the price and quality of the connection. You will not be charged for calls that are less than 20 seconds.

        .slide__resizable
            include ../clock/clock.jade
