@import "../../helpers/*.css";

@component slide {
    @descendent title {
        font-size: 48px;
        line-height: 56px;
        font-weight: 200;
        margin: 0 0 35px;
        }
    @descendent phones {
        position: relative;
        left: -25px;
        }
    @descendent logotype {
        display: block;
        width: 150px;
        height: 60px;
        background: url('../images/logotype.svg') 0 50% no-repeat;
        background-size: contain;
        overflow: hidden;
        text-indent: -9999px;
        text-align: left;
        margin: 0 0 45px;
        }
    @descendent footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 18px;
        color: $footer-grey;
        padding: 0 0 33px;
        p{
            line-height: 33px;
            display: inline-block;
            vertical-align: middle;
            padding: 0 90px;
            }
        }
    @descendent text {
        font-size: 22px;
        line-height: 35px;
        font-weight: 200;
        margin: 0 0 35px;
        }
    @descendent warning {
        color: $warning-grey;
        font-size: 16px;
        line-height: 25px;
        white-space: normal;
        width: 250px;
        display: inline-block;
        vertical-align: top;
        &_not-android {
            display: none;
            }
        &_not-ios {
            display: none;
            }
        }
    @descendent downloads {
        white-space: nowrap;
        }
    @descendent download {
        background-color: $black;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        width: 150px;
        height: 50px;
        margin: 0 15px 0 0;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-indent: -999px;
        &_appstore {
            background-image: url("../images/appstore.svg");
            }
        &_googleplay {
            background-image: url("../images/googleplay.svg");
            }
        }
    @descendent scroll {
        position: absolute;
        bottom: 20px;
        right: 360px;
        padding: 0 0 0 25px;
        background: url("../images/scroll.svg") 0 50% no-repeat;
        display: inline-block;
        line-height: 30px;
        font-size: 16px;
        }

    @modifier main {
        background: url("../images/slide-1.jpg") 50% 100% no-repeat;
        background-size: cover;
        .slide{
            &__phones {
                margin: 70px 0 0;
                }
            &__details {
                padding: 0 360px 0 90px;
                }
            &__title {
                margin-bottom: 0;
                }
            }
        }

    @modifier service {
        background: url("../images/slide-7.jpg") 50% 100% no-repeat;
        background-size: cover;
        .slide__details {
            width: 50%;
            float: right;
            margin: 0 90px 0 0;
            }
        }

    @modifier schema {
        background-color: $grey;
        text-align: center;
        .slide__details {
            padding: 80px 20px 0;
            height: 100%;
            position: relative;
            }
        }

    @modifier interpreter {
        background-color: $grey;
        .slide__details {
            padding: 60px 0 0;
            }
        .slide__header {
            width: 600px;
            margin: 0 auto;
            position: relative;
            border-right: 595px solid transparent;
            &:after{
                content: "";
                width: 295px;
                height: 650px;
                position: absolute;
                left: 100%;
                top: 50%;
                margin: -325px 0 0 300px;
                background: url("../images/phone-1.png") 50% 50% no-repeat;
                }
            }
        }
    @modifier conference {
        background-color: $grey;
        .slide__details {
            padding: 60px 0 0;
            }
        .slide__header {
            width: 600px;
            margin: 0 auto;
            position: relative;
            border-left: 595px solid transparent;
            &:after{
                content: "";
                width: 295px;
                height: 650px;
                position: absolute;
                right: 100%;
                top: 50%;
                margin: -340px 290px 0 0;
                background: url("../images/phone-3.png") 50% 50% no-repeat;
                }
            }
        }

    @modifier interface {
        background: $grey url("../images/phone-5.jpg") 50% 50% no-repeat;

        }

    @modifier time {
        background-color: $grey;
        .slide__details {
            padding: 60px 0 0;
            }
        .slide__header {
            width: 600px;
            margin: 0 auto;
            position: relative;
            border-left: 595px solid transparent;
            }
        }


    }



html.android body {
    @component slide {
        @descendent download {
            &_appstore {
                display: none;
                }
            &_googleplay {
                display: inline-block;
                }
            }
        @descendent warning {
            &_not-android {
                display: none;
                }
            &_not-ios {
                display: inline-block;
                }
            }
        @modifier interpreter {
            .slide__header {
                &:after{
                    background-image: url("../images/phone-2.png");
                    }
                }
            }
        }
    }

html.ios body {
    @component slide {
        @descendent download {
            &_appstore {
                display: inline-block;
                }
            &_googleplay {
                display: none;
                }
            }
        @descendent warning {
            &_not-android {
                display: inline-block;
                }
            &_not-ios {
                display: none;
                }
            }
        @modifier interpreter {
            .slide__header {
                &:after{
                    background-image: url("../images/phone-4.png");
                    }
                }
            }
        }
    }


@media (max-width: 1080px) {
    html body {
        @component slide {
            @modifier service {
                background-color: #e8e8e8;
                background-position: 20% 100%;
                background-size: auto calc(100vh - 230px);
                .fp-tableCell {
                    vertical-align: top;
                    }
                .slide__details {
                    float: none;
                    margin: 0;
                    width: auto;
                    padding: 90px 20px 20px;
                    position: relative;

                }
            }
        }
    }
}

@media (max-width: 960px) {
    html body {
        @component slide {
            @modifier schema {
                text-align: left;
                .slide__footer {
                    text-align: left;
                    position: relative;
                    bottom: auto;
                    left: auto;
                    right: auto;
                    padding: 20px 70px 20px 0;
                    p {
                        font-size: 14px;
                        line-height: 16px;
                        padding: 0;
                        }
                    }
                .slide__details {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    html body {
        @component slide {
            @descendent warning {
                width: 180px;
                font-size: 14px;
                line-height: 24px;
                }
            @descendent download {
                width: 120px;
                height: 40px;
                }
            @descendent title {
                font-size: 22px;
                line-height: 24px;
                font-weight: 200;
                margin: 0 0 12px;
                }
            @descendent text {
                font-size: 16px;
                line-height: 24px;
                font-weight: 200;
                margin: 0 0 12px;
                }
            @modifier service {
                .slide__details {
                    &:after {
                        background-position: 20% -60px;
                        background-size: 800px auto;
                        }
                    }
                }
            }
        }
    }
