.slide.slide_conference.slide_right
    .slide__details
        header.slide__header
            h2.slide__title Conference call
            p.slide__text Once you’ve connected to an interpreter, you can dial any number or you can select a contact from your phonebook to conference into the call. Calls are connected using VoIP at rates comparable to or lower than major internet phone service providers

        .slide__resizable
            include ../interpreter/interpreter-conference.jade
            .slide__phone
