@import "../../helpers/*.css";

html body .landing__section.active_moment {
    * {
        transition: none!important;
    }
}

html body .landing__section:first-child {
    opacity: 0;
    transition: opacity 0s .35s;
    }

html body .landing__section:last-child {
    opacity: 0;
    transition: opacity 0s .35s;
    }

.landing__section.active {

    &:last-child {
        opacity: 1;
        transition: opacity .5s .35s;
        }

    &:first-child {
        opacity: 1;
        transition: opacity .5s .35s;
        .slide{
            &__downloads {
                opacity: 1;
                transition: opacity 1s .9s;
                }
            }
        }

    .slide {
        &__title {
            opacity: 1;
            transition: opacity .5s .35s;
        }

        &__text {
            opacity: 1;
            transition: opacity .5s .35s;
        }

        &__downloads {
            opacity: 1;
            transition: opacity .5s .5s;
        }

        &__footer {
            opacity: 1;
            transition: opacity .5s 2.35s;
        }

        &_interpreter.slide {
            .interpreter {
                left: 0;
                opacity: 1;
                transition: opacity .5s .9s, left .5s .9s;
            }
            .slide__resizable>.wave {
                opacity: 1;
                transition: opacity .5s 1.9s;
                }
            .slide {
                &__phone {
                    opacity: 1;
                    transition: opacity .5s .35s;
                    &_on {
                        opacity: 1;
                        transition: opacity .5s 1.35s;
                    }
                }
            }
        }

        &_interface.slide {
            .slide {
                &__phone {
                    &_left {
                        bottom: 0;
                        opacity: 1;
                        transition: opacity .5s .35s, bottom .5s .35s;

                        .steps__step.steps__step_one {
                            opacity: 1;
                            transition: opacity .75s .75s;
                            }

                        .steps__step.steps__step_two {
                            opacity: 1;
                            transition: opacity .75s 1s;
                            }

                        .steps__step.steps__step_three {
                            opacity: 1;
                            transition: opacity .75s 1.25s;
                            }
                    }
                    &_right {
                        top: 0;
                        opacity: 1;
                        transition: opacity .5s .35s, top .5s .35s;
                    }
                }
            }
        }

        &_conference.slide {
            .interpreter.interpreter_bottom {
                right: 0;
                opacity: 1;
                transition: opacity .5s .75s, right .5s .35s;
            }
            .interpreter.interpreter_top {
                right: 0;
                opacity: 1;
                transition: opacity .5s 1.35s, right .5s .75s;
            }
            .slide {
                &__phone {
                    opacity: 1;
                    transition: opacity .5s .35s;
                }
            }
        }

        &_main {
            .slide__scroll {
                bottom: 20px;
                transition: bottom .25s 1.65s;
                }
            .menu {
                right: 0;
                transition: right .25s 1.65s;
                }
            .slide {
                &__downloads {
                    opacity: 1;
                    transition: opacity .5s .9s;
                    }
                &__phone,
                &__phones {
                    opacity: 1;
                    transition: opacity .5s .9s;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .landing__section.active {
        .slide {
            &_interface.slide {
                .slide {
                    &__phone_left {
                        top: 0;
                        bottom: auto;
                        transition: opacity .5s .35s, top .5s .35s;
                        }
                    }
                }
            }
        }
    }


@component slide {

    @descendent title {
        font-size: 38px;
        line-height: 42px;
        font-weight: 200;
        margin: 0 0 20px;

        transition: opacity 0s .35s;
        opacity: 0;
        }

    @descendent text {
        transition: opacity 0s .35s;
        opacity: 0;
        }

    @descendent downloads {
        transition: opacity 0s .35s;
        opacity: 0;
        }

    @descendent details {
        max-height: 100%;
        box-sizing: border-box;
    }

    @descendent logotype {
        position: absolute;
        top: 10px;
        left: 90px;
        z-index: 400;
        width: 150px;
        height: 60px;
        background: url('../images/logotype.svg') 0 50% no-repeat;
        background-size: contain;
        overflow: hidden;
        text-indent: -9999px;
        text-align: left;
        }

    @descendent footer {
        font-size: 16px;
        color: $footer-grey;
        padding: 0 60px 0 20px;
        text-align: center;
        transition: opacity 0s .35s;
        opacity: 0;
        p{
            line-height: 33px;
            display: inline-block;
            vertical-align: middle;
            padding: 0 20px;
            }
        }

    @descendent text {
        font-size: 22px;
        line-height: 35px;
        font-weight: 200;
        margin: 0 0 20px;
        }

    @descendent dummy {
        height: 20px;
        }

    @descendent warning {
        color: $warning-grey;
        font-size: 16px;
        line-height: 25px;
        white-space: normal;
        width: 250px;
        display: inline-block;
        vertical-align: top;
        &_not-android {
            display: none;
            }
        &_not-ios {
            display: none;
            }
        }

    @descendent downloads {
        white-space: nowrap;
        }

    @descendent download {
        background-color: $black;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        width: 150px;
        height: 50px;
        margin: 0 15px 0 0;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-indent: -999px;
        &_appstore {
            background-image: url("../images/appstore.svg");
            }
        &_googleplay {
            background-image: url("../images/googleplay.svg");
            }
        }
    @descendent scroll {
        position: absolute;
        bottom: 20px;
        right: 290px;
        padding: 0 0 0 25px;
        background: url("../images/scroll.svg") 0 50% no-repeat;
        display: inline-block;
        line-height: 30px;
        font-size: 16px;

        bottom: -60px;
        transition: bottom 0s .35s;
        }

    @descendent resizable {
        transform-origin: 0 50%;
        }

    @modifier hide-resizable {
        .slide__header {
            border-style: none;
            }
        .slide__resizable{
            display: none;
        }
    }

    @modifier hide-centred {
        .slide__centred {
            width: auto;
            height: auto;
            padding: 60px 0 0;
            margin: auto 20px;
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            text-align: center;

            .steps__step {
                padding: 0;
                border-style: none;
                width: auto;
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                margin: 0 0 20px;
                }

            .steps__number {
                top: 0;
                right: 100%;
                left: auto;
                bottom: auto;
                margin: -2px 10px 0 0;
                }

            .slide__phone_left{
                width: auto;
                height: auto;
                background: none;
                text-align: left;
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                display: inline-block;
                margin: auto;
                }

            .slide__phone_right{
                display: none;
            }
        }
    }

    @modifier right {
        .slide__resizable {
            transform-origin: 100% 50%;
            }
        }

    @modifier main {
        background: url("../images/slide-1.jpg") 50% 0 no-repeat,
                    url("../images/grad.png") 50% 0 repeat-x;
        background-size: auto 100%;
        .slide{
            &__phones {
                margin: 10px 0 0;
                transition: opacity 0s .35s;
                opacity: 0;
                }
            &__phone {
                transition: opacity 0s .35s;
                opacity: 0;
                }
            &__details {
                padding: 0 250px 0 90px;
                margin: auto;
                max-width: 1300px;
                }
            &__header {
                padding: 90px 0 0;
                }
            &__title {
                margin-bottom: 0;
                }
            }
        }

    @modifier service {
        background: url("../images/slide-7.jpg") 50% 100% no-repeat;
        background-size: cover;
        .slide__illustration {
            display: none;
            }
        .slide__header {
            width: 460px;
            margin: 0 auto;
            padding: 0 40px 0 0;
            position: relative;
            border-left: 500px solid transparent;
            }
        }

    @modifier schema {
        background-color: $grey;
        text-align: center;
        .slide {
            &__details {
                padding: 60px 20px 0;
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                }
            &__title {
                margin: 0 0 20px;
                position: relative;
                top: -15px;
                }
            &__dummy {
                flex-grow: 0;
                }
            &__header {
                flex-grow: 0;
                }
            &__footer {
                flex-grow: 0;
                }
            }
        }

    @modifier interpreter {
        background-color: $grey;
        .slide__details {
            padding: 60px 0 0;
            }
        .slide__header {
            width: 525px;
            margin: 0 auto;
            padding: 0 40px 0 0;
            position: relative;
            border-right: 565px solid transparent;
            }

        .slide__resizable {
            width: 525px;
            height: 650px;
            position: absolute;
            left: 50%;
            top: 60px;
            bottom: 0;
            margin: auto;
            .interpreter {
                left: 50px;
                right: auto;
                margin: 30px 0 0 0;

                transition: opacity 0s .35s, left 0s .35s;
                opacity: 0;
                }
            }
        .slide__phone {
            width: 295px;
            height: 650px;
            position: absolute;
            right: 20px;
            top: 50%;
            margin: -325px auto auto;
            background: url("../images/phone-1.png") 50% 50% no-repeat;
            background-size: contain;
            transition: opacity 0s .35s;
            opacity: 0;

            &_on {
                width: 295px;
                height: 650px;
                background: url("../images/phone-1-on.png") 50% 50% no-repeat;
                background-size: contain;

                transition: opacity 0s .35s;
                opacity: 0;
                }
            }
        }

    @modifier conference {
        background-color: $grey;

        .interpreter_bottom.interpreter {
            margin: 55px 0 0;
            right: 0;
            left: auto;

            right: 75px;
            transition: opacity 0s .35s, right 0s .35s;
            opacity: 0;
            }

        .interpreter_top.interpreter {
            margin: 0 0 55px;
            right: 0;
            left: auto;

            right: 75px;
            transition: opacity 0s .35s, right 0s .35s;
            opacity: 0;
            }

        .slide__resizable {
            width: 505px;
            height: 650px;
            position: absolute;
            right: 50%;
            top: 60px;
            bottom: 0;
            margin: auto;
            }

        .slide__header {
            width: 520px;
            margin: auto;
            padding: 0 0 0 40px;
            position: relative;
            border-left: 560px solid transparent;
            }

        .slide__phone {
            width: 295px;
            height: 650px;
            position: absolute;
            left: 0;
            top: 50%;
            margin: -325px auto auto;
            background: url("../images/phone-3.png") 50% 50% no-repeat;
            background-size: contain;

            transition: opacity 0s .35s;
            opacity: 0;
            }

        .slide__details {
            padding: 60px 0 0;
            }
        }

    @modifier interface {
        background-color: $grey;
        .slide {

            &__centred {
                position: absolute;
                top: 60px;
                left: 0;
                bottom: 0;
                right: 0;
                transform-origin: 50% 50%;
                width: 1440px;
                height: 1230px;
                margin: auto;
                }

            &__phone {
                position: absolute;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;

                &_left {
                    width: 550px;
                    height: 1012px;
                    background-image: url(../images/ios-left.png);
                    background-position: 100% 50%;
                    bottom: 0;
                    right: 50%;
                    margin: 0 -37px 0 0;
                    z-index: 2;


                    transition: opacity 0s .35s, bottom 0s .35s;
                    opacity: 0;
                    bottom: -200px;

                    }

                &_right {
                    width: 550px;
                    height: 954px;
                    background-image: url(../images/android-right.jpg);
                    background-position: 0 50%;
                    top: 0;
                    left: 50%;
                    margin: 0 0 0 -37px;
                    z-index: 1;

                    transition: opacity 0s .35s, top 0s .35s;
                    opacity: 0;
                    top: -200px;

                    }
                }
            }
        }

    @modifier time {
        background-color: $grey;

        .slide__illustration {
            display: none;
        }

        .slide__resizable {
            width: 542px;
            height: 650px;
            position: absolute;
            right: 50%;
            top: 60px;
            bottom: 0;
            margin: auto;
            transform-origin: 0 50%;
            }

        .slide__details {
            padding: 60px 0 0;
            }

        .slide__header {
            width: 522px;
            margin: auto;
            padding: 0 0 0 40px;
            position: relative;
            border-left: 562px solid transparent;
            }
        }
    }

html.android body {
    @component slide {
        @descendent download {
            &_appstore {
                display: none;
                }
            &_googleplay {
                display: inline-block;
                }
            }
        @descendent warning {
            &_not-android {
                display: none;
                }
            &_not-ios {
                display: inline-block;
                }
            }
        @modifier interpreter {
            .slide__phone{
                background-image: url("../images/phone-2.png");
                &_on {
                    background-image: url("../images/phone-2-on.png");
                    }
                }
            }
        }
    }

html.ios body {
    @component slide {
        @descendent download {
            &_appstore {
                display: inline-block;
                }
            &_googleplay {
                display: none;
                }
            }
        @descendent warning {
            &_not-android {
                display: inline-block;
                }
            &_not-ios {
                display: none;
                }
            }
        @modifier conference {
            .slide {
                &__phone {
                    background-image: url("../images/phone-4.png");
                    }
                }
            }
        }
    }


@media (min-width: 1500px) and (min-height: $textMode) {
    html body {
        @component slide {
            @modifier main {
                .slide {
                    &__title {
                        max-width: 650px;
                        }
                    }
                }
            }
        }
    }


@media (min-width: 751px) and (max-width: 1200px) and (min-height: $textMode) {
    html body {
        @component slide {
            @descendent logotype {
                left: 20px;
                }
            @descendent scroll {
                display: none;
            }
            @modifier main {
                background: url("../images/slide-1.jpg") 50% 0 no-repeat,
                            url("../images/grad.png") 50% 0 repeat-x;
                background-size: auto 100%;
                .slide {
                    &__details {
                        padding: 0;
                        margin: 0 20px;
                        }
                    }
                }
            @modifier interface {
                .slide {
                    &__centred {
                        width: 1050px;
                        left: 40px;
                        }
                    &__phone {
                        &_left {
                            margin: 0;
                            left: auto;
                            right: 280px;
                            }
                        &_right {
                            margin: 0;
                            left: auto;
                            right: -40px;
                            }
                        }
                    }
                }
            @modifier conference {
                .slide__header{
                    width: auto;
                    margin: 0 20px;
                }
                .slide__resizable {
                    left: 0;
                    right: auto;
                    transform-origin: 0 50%;
                }
            }
            @modifier time {
                .slide__header {
                    width: auto;
                    margin: 0 20px;
                }
                .slide__resizable {
                    left: 0;
                    right: auto;
                    transform-origin: 0 50%;
                }
            }
            @modifier service {
                .slide__header {
                    width: 50%;
                    margin: 0 20px;
                    border-style: none;
                    padding: 0;
                    margin: 0 0 0 50%;
                    }
                }
            @modifier interpreter {
                .slide__header{
                    width: auto;
                    margin: 0 20px;
                }
                .slide__resizable {
                    left: auto;
                    right: 0;
                    transform-origin: 100% 50%;
                }
            }
        }
    }
}

@media (max-width: 960px) and (min-height: $textMode) {
    html body {
        @component slide {
            @modifier service {
                .slide__header {
                    width: auto;
                    border-style: none;
                    padding: 0;
                    margin: 0 0 0 280px;
                    }
                }
        }
    }
}

@media (max-width: 750px) and (min-height: $textMode) {
    html.android body  .landing .landing__section{
        @component slide {
            @modifier schema {
                .slide {
                    &__details {
                        height: 100vh;
                    }
                }
            }
        }
    }

    html body .landing .landing__section {

        .social__link.social__link_fb {
            display: none;
            }

        @component slide {
            @descendent logotype {
                display: none;
                }
            @descendent scroll {
                display: none;
                }
            @descendent title {
                font-size: 28px;
                line-height: 32px;
                margin-bottom: 10px;
                top: auto;
                }
            @descendent text {
                font-size: 18px;
                line-height: 22px;
                }
            @descendent details {
                padding: 80px 0 0;
                }
            @descendent header {
                padding: 0 20px 20px;
                }
            @descendent downloads {
                white-space: normal;
                }
            @descendent slide__warning {
                margin: 0 15px 20px 0;
                }
            @descendent download {
                margin: 0 15px 20px 0;
                }

            @modifier schema {
                text-align: left;
                .slide {
                    &__dummy {
                        display: none;
                        }
                    &__header {
                        padding: 0;
                        }
                    &__details {
                        padding: 80px 20px 0;
                        max-height: none;
                        }
                    &__title {
                        text-align: left;
                        margin: 0 0 10px;
                        top: auto;
                        }
                    &__footer {
                        display: none;
                        text-align: left;
                        padding-left: 0;
                        p {
                            padding: 0;
                            font-size: 14px;
                            line-height: 16px;
                            }
                        }
                    }
                }

            @modifier main {
                background: $grey;
                .slide {
                    &__title {
                        margin: 0 0 10px;
                        }
                    &__details {
                        padding: 80px 20px 0;
                        }
                    &__warning {
                        display: none;
                        }
                    &__downloads {
                        display: none;
                        }
                    &__phone {
                        background: url(../images/phones.png) 50% 0 no-repeat;
                        background-size: contain;
                        }
                    &__phones {
                        display: none;
                        }
                    &__header {
                        padding: 0;
                        }
                    }
                }

            @modifier service {
                background: $grey;
                .slide {
                    &__downloads {
                        display: none;
                        }
                    &__illustration {
                        display: block;
                        width: auto;
                        min-height: 300px;
                        background: url(../images/girl.jpg) 50% 0 no-repeat;
                        background-size: 120% auto;
                        }
                    &__details {
                        width: auto;
                        padding: 80px 0 0;
                        margin: 0;
                        }
                    &__header {
                        width: auto;
                        margin: 0;
                        padding: 0 20px 20px;
                        }
                    }
                }

            @modifier interface {
                .slide {
                    &__centred {
                        width: 400px;
                        height: 900px;
                        left: 50%;
                        bottom: 0;
                        right: auto;
                        top: auto;
                        margin: auto;
                        transform-origin: 50% 100%;
                        }
                    &__phone {
                        &_left {
                            position: relative;
                            margin: auto;
                            left: auto;
                            right: auto;
                            bottom: auto;
                            top: auto;
                            width: 400px;
                            height: 720px;

                            transition: opacity 0s .35s, top 0s .35s;
                            opacity: 0;
                            top: -200px;
                            }
                        &_right {
                            display: none;
                            }
                        }
                    }
                }
            @modifier time {
                .slide__header {
                    border-style: none;
                    width: auto;
                    margin: 0 20px;
                    padding: 0;
                }
                .slide__resizable {
                    display: block;
                    margin: 20px auto 0;
                    position: relative;
                    top: auto;
                    right: auto;
                    bottom: auto;
                    left: auto;
                    transform-origin: 50% 0;
                }
            }
            @modifier conference {
                .slide__header {
                    border-style: none;
                    width: auto;
                    margin: 0 20px;
                    padding: 0;
                }
                .slide__resizable {
                    display: block;
                    margin: 20px auto 0;
                    position: relative;
                    top: auto;
                    right: auto;
                    bottom: auto;
                    left: auto;
                    transform-origin: 50% 0;
                }
            }
            @modifier interpreter {
                .slide__header {
                    border-style: none;
                    width: auto;
                    margin: 0 20px;
                    padding: 0;
                }
                .slide__resizable {
                    display: block;
                    margin: 20px auto 0;
                    position: relative;
                    top: auto;
                    right: auto;
                    bottom: auto;
                    left: auto;
                    transform-origin: 50% 0;
                }
            }
        }

        .slide.slide_hide-centred.slide_interface {
            .steps {
                position: static;
                &__step {
                    position: relative;
                    top: auto;
                    left: auto;
                    right: auto;
                    bottom: auto;
                    }
                &__number {
                    top: 0;
                    right: 100%;
                    left: auto;
                    bottom: auto;
                    margin: auto 10px auto auto;
                    &:after,
                    &:before {
                        display: none;
                        }
                    }
                }
            .slide__centred {
                transform: none;
                width: auto;
                height: auto;
                padding: 60px 0 0;
                margin: auto 20px auto 44px;
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                text-align: center;
            }
        }
    }
}


@media (max-height: 480px) {
    html body .landing .landing__section {
        .fp-tableCell {
            vertical-align: middle;
            }
        .slide__logotype,
        .shema {
            display: none;
            }
        .slide {

            * {
                animation: none !important;
                transition-delay: .35s !important;
                }

            &__title {
                font-size: 28px;
                line-height: 32px;
                margin-bottom: 10px;
                text-align: left;
                position: static;
                top: auto;
                margin: 0 0 10px;
                padding: 0;
                }

            &__text {
                font-size: 18px;
                line-height: 22px;
                text-align: left;
                position: static;
                top: auto;
                margin: 0;
                padding: 0;
                }

            &__social,
            &__downloads,
            &__scroll,
            &__resizable {
                display: none;
                }

            &__header {
                padding: 0;
                border-style: none;
                height: auto;
                width: auto;
                }

            &__details {
                padding: 0 20px;
                border-style: none;
                height: auto;
                width: auto;
                text-align: left;
                }

            &_main {
                background: none;
                .slide {
                    &__phone,
                    &__phones {
                        display: none;
                    }
                }
            }

            &_interface {
                .slide {
                    &__centred {
                        width: auto;
                        height: auto;
                        position: static;
                        }
                    &__phone {
                        &_right {
                            display: none;
                            }
                        &_left {
                            width: auto;
                            height: auto;
                            background: none;
                            position: static;
                            margin: 0;
                            padding: 0;

                            .steps {

                                position: static;
                                margin: 0 0 0 30px;
                                display: block;
                                list-style: decimal;

                                &__number {
                                    display: none;
                                    }

                                &__step {
                                    display: list-item;
                                    position: static;
                                    border-style: none;
                                    width: auto;
                                    margin: 0 0 10px;
                                    padding: 0;

                                    &:before,
                                    &:after {
                                        display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            &_service {
                background: none;
                }

            &_schema {
                .slide {
                    &__footer {
                        display: none;
                        position: static;
                        padding: 0;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: left;
                        margin: 0;
                        p {
                            padding: 0;
                            margin: 0;
                            }
                        }

                    &__dummy {
                        display: none;
                        }
                    &__details {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
