.slide.slide_interpreter
    .slide__details
        header.slide__header
            h2.slide__title Bring an interpreter with you
            p.slide__text Need an interpreter on the go? Connect to 3waytalk, put your phone in speaker mode and your interpreter will be as if she were standing next to you

        .slide__resizable
            include ../interpreter/interpreter.jade
            include ../waves/waves.jade
            .slide__phone
                .slide__phone_on
